.imageee{

  background-image: url("hello.jpg");

}
body {
  /* The image used */
  background-image: url("vistors choice.jpg");

  /* Full height */

  /* Center and scale the image nicely */
  background-position:bottom;
  background-repeat: no-repeat;
  background: size 200px;
}
